<ion-header>
  <ion-fab-button (click)="navigate('/login')"><ion-icon md="md-arrow-back"></ion-icon></ion-fab-button>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form class="form" [formGroup]="validations_form"  (ngSubmit)="reset(validations_form.value)">
      <ion-item>
        <ion-label  position="floating" color="primary">Email Address</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Send Email</ion-button>
    </form>
</ion-content>
