<ion-header>
  <ion-fab-button (click)="navigate('/login')"><ion-icon md="md-arrow-back"></ion-icon></ion-fab-button>
  <ion-toolbar>
    <ion-title color="primary">
      Create New Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- From here on, the following code will create the necessary fields for creating an account -->
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="create(validations_form.value)">

    <ion-item>
      <ion-label  position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label  position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-control" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  position="floating" color="primary">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirm_password" class="form-control" required></ion-input>
    </ion-item>
  
    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Create Account</ion-button>
  
    <label padding class="error-message">{{ errorMessage }}</label>
  </form>
</ion-content>
